<% header = link_to("All posts", posts_path) + " &raquo; #{@category.name}".html_safe %>
<%= render "shared/content_title", title: header %>

<% @category.posts.each do |post| %>
	<%= render "posts/post", post: post %>
<% end %>

<% if !@category.posts.any? %>
	<h4>No posts in this category yet</h4>
<% end %>
